certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cssselect==1.2.0
idna==3.10
jmespath==1.0.1
libretranslatepy==2.1.1
loguru==0.7.2
lxml==5.3.0
packaging==24.1
parsel==1.9.1
requests==2.32.3
translate==3.6.1
urllib3==2.2.3
w3lib==2.2.1
win32-setctime==1.1.0
